" load keymap from separated .vimrc settings
source .vimrc.keymap

" settings for only ideavimrc
sethandler <C-c> i:ide n-v:vim
sethandler <C-a> i:ide n-v:vim
sethandler <C-v> i:ide n-v:vim
sethandler <C-f> i:ide n-v:vim
sethandler <C-h> i:ide n-v:vim
sethandler <C-r> i:ide n-v:vim
set clipboard+=unnamed
